.img{
  display: flex;
  height: 300px;
  width: 1367px;
}
#carouselExampleIndicators{
  margin-bottom: 18px;
  /* padding-bottom: 50px; */
}

@media (max-width:312px) {
  .img{
  display: flex;
  height: 150px;
  width: 400px;
}
  
}
